body {
    background-color: #4f2e83;
}

p {
    font-size: 22px;
    text-align: center;
    color: white;
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

h1 {
    font-size: 60px;
    color: #fecc47;
}

h2 {
    font-size: 50px;
    color: #fecc47;     
}

h4 {
    color: white;
}

.row-boxes {
    color: white;
}

.centerbutton {    
    text-align: center;
    font-size: 50px;
    
}

#password {
    text-align: center;
    font-size: 15px;
}


.center {
    text-align: center;
}

textarea {
    width: 300px;
    height: 50px;   
}

#input {
    font-size: 30px;
}

#generate {
    background-color: #4f2e83;
    border-radius: 20px;    
    font-size: 37px;
    color: #fecc47;
}

.row-tiger img {
    width: 200px;
    height: 200px;
    margin: auto;    
    display: block;
}


